/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

@font-face {
    font-family: 'noto_serifbold_italic';
    src: url('../assets/fonts/notoserif-bolditalic-webfont.eot');
    src: url('../assets/fonts/notoserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/notoserif-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/notoserif-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/notoserif-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_serifitalic';
    src: url('../assets/fonts/notoserif-italic-webfont.eot');
    src: url('../assets/fonts/notoserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/notoserif-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/notoserif-italic-webfont.woff') format('woff'),
         url('../assets/fonts/notoserif-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_serifregular';
    src: url('../assets/fonts/notoserif-regular-webfont.eot');
    src: url('../assets/fonts/notoserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/notoserif-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/notoserif-regular-webfont.woff') format('woff'),
         url('../assets/fonts/notoserif-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_serifbold';
    src: url('../assets/fonts/notoserif-bold-webfont.eot');
    src: url('../assets/fonts/notoserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/notoserif-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/notoserif-bold-webfont.woff') format('woff'),
         url('../assets/fonts/notoserif-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_kufi_arabicbold';
    src: url('../assets/fonts/notokufiarabic-bold-webfont.eot');
    src: url('../assets/fonts/notokufiarabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/notokufiarabic-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/notokufiarabic-bold-webfont.woff') format('woff'),
         url('../assets/fonts/notokufiarabic-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_naskh_arabicbold';
    src: url('../assets/fonts/notonaskharabic-bold-webfont.eot');
    src: url('../assets/fonts/notonaskharabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/notonaskharabic-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/notonaskharabic-bold-webfont.woff') format('woff'),
         url('../assets/fonts/notonaskharabic-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_naskh_arabicregular';
    src: url('../assets/fonts/notonaskharabic-regular-webfont.eot');
    src: url('../assets/fonts/notonaskharabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/notonaskharabic-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/notonaskharabic-regular-webfont.woff') format('woff'),
         url('../assets/fonts/notonaskharabic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


// Fonts
%main-font { font-family: ""; }
%main-font-bold {	font-family: ""; }
%basic-font { font-family: Arial, Helvetica, sans-serif; }
%arabic-main-font { font-family: "noto_kufi_arabicbold"; }
%arabic-naskh-font { font-family: "noto_naskh_arabicregular"; }
%arabic-naskh-font-bold { font-family: "noto_naskh_arabicbold"; }
%number-font { font-family: "noto_serifregular"; }

// Font settings
body {
    color: $text-color;
}
.categorie, p, nav, .author {
    @extend %arabic-naskh-font-bold;
}
h1, h2, h3, h4, h5, h6 {
    @extend %arabic-main-font;
    display: block;
}
h1 {
    font-size: 26px;
    line-height: 1.5;
}
h2 {
    font-size: 22px;
    line-height: 1.5;
    color: $text-color;
    &.section-title {
        color: $white;
    }
}
h3 {
    font-size: 16px;
    color: $light-text;
}
p {
    font-size: 20px;
    line-height: 1.5;
}