/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

// Clear after floats
%clearfix {
    *zoom:1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%hide-text {
	@include hide-text;
}

%base-float {
	width: 100%;
	float: right;
}

// Helper classes
.clearfix { @extend %clearfix; }
.clear { clear: both; }
.hide { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.fleft { float: left; }
.fright { float: right; }
.fnone { float: none; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.vertical-top { vertical-align: top; }
.vertical-middle { vertical-align: middle; }
.bottom-margin-large { margin-bottom: $large-margin; }
.top-margin-large { margin-top: $large-margin; }
.padding-right { padding-right: $padding; }
.full-width { width: 100%; }
.half-width { width: 50%; }
.background-dark { background: $black; color: $white; }
.background-gray { background: $gray;}
.background-white { background: $white; }
.border { border-top: 1px solid $border-color; }
.no-padding { padding: 0; }
.black { color: $black; }
.white { color: $white; }

// Main elements
.container {
    @extend %base-float;
}

.wrapper {
    @extend %clearfix;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0;
}

// Separators
.separator {
    display: inline-block;
    margin: 0 5px;
    &.square {
        height: 5px;
        width: 5px;
        background: $main-color;
    }
    &.vline {
        height: 14px;
        width: 1px;
        background: $border-color;
    }
    &.hline {
        height: 2px;
        width: 50px;
        background: $main-color;
    }
}