/*
|------------------------------------------------------------
| Variables
|------------------------------------------------------------
*/

// Vertical rhythm
$base-font-size: 16px;
$base-line-height: 21px;
@include establish-baseline;

// Dimensions
$container-width: 1100px;
$widget-width: 480px;
$large-margin: 80px;
$margin: 40px;
$padding: 30px;
$width: 50%;
$gutter: 75px;

// RGBAPNG backgroudn
$rgbapng_path: 'rgba_pngs';
$rgbapng_px_size: 3;

// Sprites
$icons: sprite-map("icons/*.png", $spacing: 5px);

// Colors
$main-color: #9E914C;
$text-color: #424242;
$light-text: #BEBEBE;
$border-color: #EDEDED;
$comp-color: complement($main-color);
$white: #FFF;
$black: #000;
$gray: #2B2B2B;

// Gradients
%blue-gradient {
    background: #1B4391;
    @include background(linear-gradient(top, #1cb2e8, #1b4391));
}