// Import parent theme styles
// @import url("../optimizer/style.css");

/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/
@import "compass";
@import "normalize";
@import "rgbapng";
@import "base/config";
@import "helpers/variables";
@import "base/typography";

/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/
@import "helpers/helpers";
@import "icons/*.png";

/*
|------------------------------------------------------------
| Mixins
|------------------------------------------------------------
*/
@import "mixins/breakpoint";
@import "mixins/calc";
@import "mixins/input-placeholder";
@import "mixins/rem";
@import "mixins/translate";

/*
|------------------------------------------------------------
| Modules
|------------------------------------------------------------
*/
@import "modules/header";
@import "modules/container";
@import "modules/footer";

/*
|------------------------------------------------------------
| Styles
|------------------------------------------------------------
*/
section {
	@extend %clearfix;
	padding: 30px 0;
	margin-bottom: 40px;
	img {
		display: block;
		margin: 0 auto;
	}
	@include breakpoint (phone) {
		padding: 30px 10px;
	}
}
article {
	display: block;
	width: 100%;
	margin: 0 0 $margin;
	padding-top: 30px;
	@extend %clearfix;
	&.wide {
		.article-image {
			width: 100%;
			margin: 0;
			img {
				display: block;
				float: none;
			}
		}
	}
	.video-container {
		float: right;
		position: relative;
		video {
			width: 100%;
		}
		img {
			display: block;
		}
		.play {
			position: absolute;
			bottom: 0;
			right: 0;
			@include icons-sprite(play);
			width: image-width("icons/play.png");
			height: image-height("icons/play.png");
			@include hide-text(left);
			cursor: pointer;
		}
	}
	.article-text {
		float: right;
		&.article-text-wide {
			padding: 10px 0;
		}
		.article-title {
			display: block;
			float: none;
		}
		.brand {
			display: inline-block;
			color: $white;
			background: $main-color;
			padding: 5px 10px;
		}
		.important {
			display: block;
			margin: 10px 0;
			font-size: 20px;
			color: $main-color;
		}
	}
	.article-image {
		float: right;
		width: 40%;
		margin-left: 10%;
			img {
			float: right;
			display: block;
		}
		.album {
			position: absolute;
			bottom: 0;
			right: 0;
			@include icons-sprite(album);
			width: image-width("icons/album.png");
			height: image-height("icons/album.png");
		}
	}
}
.grid {
	@extend %clearfix;
	padding-right: 30px;
	.grid-1-2 {
		float: right;
		@include calc(width, "50% - 35px");
		&:nth-child(2n) {
			margin-right: 35px;
		}
		.article-text {
			padding: 10px 0;
		}
		@include breakpoint (phone) {
			width: 40%;
		}
	}
	.grid-1-3 {
		float: right;
		@include calc(width, "33.333% - 18px");
		margin: 0 0 35px 18px;
		padding: 0;
		img {
			width: 100%;
		}
		.article-text {
			text-align: center;
		}
	}
}
.categorie {
	display: block;
	color: $main-color;
	a {
		display: inline-block;
		padding-left: 20px;
		border-top: 1px solid $main-color;
		color: $main-color;
		&:hover {
			text-decoration: underline;
		}
	}
}
.tags-list {
	display: block;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		margin: 10px 15px;
		a {
			display: block;
			color: $main-color;
			padding: 5px 10px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.read-more {
	@extend %base-float;
	margin-top: 10px;
	a {
		color: $main-color;
		display: inline-block;
		border-bottom: 1px solid $main-color;
	}
}
.article-container {
	@include breakpoint(phone) {
		width: 100%;
		float: none;
		article {
			width: 100%;
			.article-image {
				img {
					margin: 0 auto;
				}
			}
		}
	}
}
.large-article {
	@include breakpoint (phone) {
		article {
			.article-image {
				width: 100%;
			}
			.article-text {
				width: 100%;
				p {
					display: none;
				}
			}
		}
	}
}
.desktop {
    @include breakpoint (1024px) {
        display: none;
    }
}
.mobile {
    display: none;
    @include breakpoint (1024px) {
        display: block;
    }
}