/*
|------------------------------------------------------------
| Container
|------------------------------------------------------------
*/
// Widget advertisment
.widget {
	text-align: center;
	float: left;
	width: 45%; //fallback
	@include calc(width, "50% - 150px");
	max-width: $widget-width;
	margin: 0 0 $margin;
	padding: 10px 0;
	&.background-gray {
		article {
			color: $white;
			h2, h3 {
				color: $white;
			}
		}		
	}
	&#online-brands {
		background: #e9e9e9;
	}
	article {
		padding: 20px 10px;
		margin: 0;
		border: none;
		.widget-title {
			color: $gray;
			display: block;
			margin: 0 auto;
		}
		.widget-title-logo {
			@extend %base-float;
			margin-bottom: 10px;
			.widget-title {
				width: 50%;
				float: right;
				font-size: 16px;
			}
			img {
				width: 50%;
				float: right;
			}
		}
		h3 {
			color: $gray;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		ul {
			list-style: none;
			padding: 0 20px;
			text-align: right;
			li {
				border-bottom: 1px solid #c3c3c3;
				padding: 7px 0;
			}
		}
	}
	.read-more {
		text-align: center;
		@include breakpoint (phone) {
			float: none;
		}
	}
	@include breakpoint (phone) {
		width: 100%;
		float: none;
		margin: 0 auto $margin;
	}
}
// Banner with heading text overlay
.advertisment {
	@extend %base-float;
	background: $black;
	max-height: 415px;
	overflow: hidden;
	text-align: center;
	img {
		max-height: 100%;
		z-index: 10;
		display: block;
		margin: 0 auto;
	}
	.overlay-text {
		z-index: 15;
		left: 50%;
		bottom: 50px;
		max-width: 470px;
		background: $white;
		color: $text-color;
		padding: 0 35px 12px;
		border-bottom: 1px solid $border-color;
		@include translate(-50%, 50%);
		@include breakpoint (phone) {
			width: 80%;
			bottom: 30px;
		}
	}
}
// Container with right hand side gutter
.gutter-width {
	@include calc(width, "50% - 75px");
	margin-right: $gutter;
}
// Newsletter input/button container
.newsletter {
	position: relative;
	width: 70%;
	height: 60px;
	margin: 0 auto;
	.submit {
		position: absolute;
		left: 5px;
		top: 5px;
		height: 50px;
		background: $main-color;
		color: $white;
		border: none;
		padding: 0 30px;
	}
	input {
		width: 100%;
		height: 100%;
		padding-right: 100px;
	}
	.email-icon {
		position: absolute;
		right: 20px;
		top: 50%;
		@include translate(0, -50%);
		@include icons-sprite(email);
		width: image-width("icons/email.png");
		height: image-height("icons/email.png");
	}
	@include breakpoint (phone) {
		width: 100%;
	}
}