/*
|------------------------------------------------------------
| Footer
|------------------------------------------------------------
*/

.site-footer {
	@extend %base-float;
	.section-title {
		color: $black;
		text-align: center;
	}
	.separator {
		&.hline {
			display: block;
			margin: 0 auto 30px;
		}
	}
	.brands-right {
		margin-bottom: $margin;
		.grid {
			padding: 0;
		}
	}
	.brands-left {
		margin-bottom: $margin;
		.grid {
			padding: 0;
			.grid-1-3 {
				margin: 0 18px 35px 0;
			}
		}
	}
	.brands-list {
		.categorie {
			float: right;
			margin: 0 10px;
			padding: 10px;
			@include breakpoint (phone) {
				float: none;
			}
		}
		ul {
			list-style: none;
			li {
				float: right;
				margin: 0 10px;
				a {
					display: block;
					padding: 10px;
					color: $text-color;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.topics {
		text-align: center;
		margin-bottom: $margin;
		span {
			display: inline-block;
			height: 33px;
			line-height: 2;
			vertical-align: top;
		}
		ul {
			display: inline-block;
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				float: left;
				margin: 0 5px;
				border: 1px solid $main-color;
				a {
					display: block;
					padding: 5px;
					color: $text-color;
				}
			}
		}
		@include breakpoint (phone) {
			ul {
				li {
					float: none;
					display: inline-block;
					margin: 5px;
				}
			}
		}
	}
	.copyright {
		direction: ltr;
		text-align: center;
		padding-bottom: 10px;
		.logo-container {
			float: right;
			img {
				display: block;
			}
			@include breakpoint (phone) {
				float: none;
				width: 100%;
				margin: 0 auto 10px;
				text-align: center;
				img {
					margin: 0 auto;
				}
			}
		}
		.licence {
			display: inline-block;
			direction: rtl;
			height: 34px;
			line-height: 3;
			@include breakpoint (phone) {
				display: none;
			}
		}
		.social {
			float: left;
			height: 34px;
			line-height: 3;
			ul {
				list-style: none;
				li {
					float: left;
					a {
						@include hide-text(left);
						width: 24px;
						height: 24px;
						display: block;
						&.facebook {
							@include icons-sprite(social-facebook);
						}
						&.youtube {
							@include icons-sprite(social-youtube);
						}
						&.instagram {
							@include icons-sprite(social-instagram);
						}
						&.gplus {
							@include icons-sprite(social-google);
						}
						&.twitter {
							@include icons-sprite(social-twitter);
						}
					}
				}
			}
			@include breakpoint (phone) {
				float: none;
				width: 100%;
				margin: 0 auto;
				text-align: center;
				ul {
					padding: 0;
					li {
						float: none;
						display: inline-block;
					}
				}
			}
		}		
	}
}