/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/
.site-header {
	@extend %clearfix;
	.banner {
		display: block;
		background: $black;
		overflow: hidden;
		text-align: center;
		img {
			max-height: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.logo {
		display: block;
		margin-top: 10px;
		text-align: center;
		@include translate(0, 7px);
	}
	.site-navigation {
		float: right;
		border-top: 1px solid $border-color;
		ul {
			display: inline-block;
			list-style: none;
			padding: 0;
			li {
				display: inline-block;
				margin: 0;
				a {
					display: block;
					width: 100%;
					color: $text-color;
					@extend %arabic-naskh-font-bold;
					font-weight: 700;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.search-container {
		float: right;
		padding: 17px 0 0;
		.search {
			@include icons-sprite(search);
			width: 14px;
			height: 14px;
			display: inline-block;
			cursor: pointer;
		}
	}	
}